
.service-ban{
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-ban::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
    180deg,
    rgba(10, 15, 60, 0.65) 0%,
    rgba(10, 15, 60, 0.55) 50%,
    rgba(10, 15, 60, 0.75) 100%
  );
  position: absolute;
}



 /* .service-ban-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(10, 15, 60, 0.65) 0%,
    rgba(10, 15, 60, 0.55) 50%,
    rgba(10, 15, 60, 0.75) 100%
  );
  pointer-events: none;
} */

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 24px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.banner-content h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 18px;
  letter-spacing: -0.5px;
  position: relative;
}

.accent-line {
  display: block;
  width: 80px;
  height: 4px;
  margin: 0 auto 18px;
  border-radius: 10px;
  background: linear-gradient(90deg, #E68FA5, #3f52d1);
  animation: slideWidth 1.2s ease;
}

@keyframes slideWidth {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}


.banner-content p {
  font-size: 18px;
  max-width: 720px;
  line-height: 1.7;
  opacity: 0.95;
  margin-bottom: 32px;
}


.banner-content button {
  padding: 14px 36px;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(135deg, #3f52d1, #E68FA5);
  box-shadow: 0 18px 45px rgba(63, 82, 209, 0.45);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-content button:hover {
  transform: translateY(-3px);
  box-shadow: 0 28px 60px rgba(63, 82, 209, 0.6);
}

/* =========================
   DOTS
========================= */
.banner-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 5;
}

/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {
  .banner {
    height: 75vh;
  }

  .banner-content h1 {
    font-size: 32px;
  }

  .banner-content p {
    font-size: 16px;
  }
  .accent-line {
    width: 60px;
  }
}