.video-section {
  padding: 80px 20px;
  background: #f3f5ff;
}

.video-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.video-text h2 {
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 15px;
}

.video-text p {
  font-size: 16px;
  color: #cfcfcf;
  line-height: 1.7;
  margin-bottom: 25px;
}

.video-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #ff3cac;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.video-btn:hover {
  background: #ff1f8f;
}

.videos-box {
  position: relative;
  width: 100%;
  /* padding-top: 56.25%; */
  border-radius: 16px;
  overflow: hidden;
  height: auto;
}

.videos-box video {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 768px) {
  .video-container {
    grid-template-columns: 1fr;
  }

  .video-text h2 {
    font-size: 28px;
  }
}
