.uni-section {
  padding: 80px 20px;
      background: #fff;
}

.uni-container {
  max-width: 1280px;
  margin: auto;
  background: linear-gradient(135deg, #eff1ff, #ffeaef);
  border-radius: 18px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 40px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

/* LEFT */
.uni-logo {
  width: 140px;
  margin-bottom: 20px;
}

.uni-content h2 {
  font-size: 30px;
  color: #2f3c8f;
  margin-bottom: 10px;
  font-weight: 600;
}

.uni-fee {
  font-size: 18px;
  color: #c74064;
  margin-bottom: 20px;
  font-weight: 600;
}

.uni-fee span {
  font-weight: 600;
}

.uni-points {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.uni-points li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
}

/* BUTTONS */
.uni-actions {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #2f3c8f;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #2f3c8f;
}

.btn-outline {
  background: transparent;
  border: 2px solid #2f3c8f;
  color: #2f3c8f;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}

.btn-outline:hover {
  background: #2f3c8f;
  color: #fff;
}

/* RIGHT IMAGE */
.uni-image img {
  width: 550px;
  height: 400px;
  border-radius: 14px;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .uni-container {
    grid-template-columns: 1fr;
    padding: 25px;
  }

  .uni-content h2 {
    font-size: 24px;
  }
}

.uni-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 40px;
  align-items: center;
}

/* Reverse layout for alternate cards */
.reverse-layout {
  direction: rtl;
}

.reverse-layout > * {
  direction: ltr;
}

/* Mobile stays normal */
@media (max-width: 900px) {
  .uni-container,
  .reverse-layout {
    direction: ltr;
    grid-template-columns: 1fr;
  }
}


/*VIDEO SECTION*/
.video-section {
  padding: 80px 20px;
  background: #f3f5ff;
}

.videos-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-items: center;
}

.video-text h2 {
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 15px;
}

.video-text p {
  font-size: 16px;
  color: #cfcfcf;
  line-height: 1.7;
  margin-bottom: 25px;
}

.video-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #ff3cac;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.video-btn:hover {
  background: #ff1f8f;
}

.video-box {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  padding: 0;

}

.video-box video {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}


/* Responsive */
@media (max-width: 768px) {
  .video-container {
    grid-template-columns: 1fr;
  }

  .video-text h2 {
    font-size: 28px;
  }
}
