.consult-section {
  padding: 0;
  max-width: 1380px;
  margin: 160px auto 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}


.consult-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 40px;
  position: relative;
}



/* LEFT */
.consult-left {
  padding-right: 40px;
}

.consult-badge {
  display: inline-block;
  font-size: 14px;
  color: #0b3c6d;
  margin-bottom: 10px;
  font-weight: 600;
}

.consult-left h2 {
  font-size: 42px;
  margin-bottom: 15px;
  color: #0b3c6d;
}

.consult-left p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* FORM CARD */
.consult-form-box {
  background: #083a63;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  position: relative;
  top: -20%;
}

.consult-form-box h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}

.consult-form-box h3 span {
  margin-right: 8px;
}

/* FORM */
.consult-form-box input,
.consult-form-box textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  background: #0f4b7a;
  color: #fff;
  font-size: 14px;
}

.consult-form-box input::placeholder,
.consult-form-box textarea::placeholder {
  color: #cbd5e1;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.consult-form-box textarea {
  resize: none;
  margin-bottom: 20px;
}

/* BUTTON */
.consult-btn {
  width: 100%;
  padding: 14px;
  background: #f3a6b8;
  color: #000;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.consult-btn:hover {
  background: #f3a6b8;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .consult-wrapper {
    grid-template-columns: 1fr;
  }

  .consult-left h2 {
    font-size: 30px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}
